{% style %}
  .gyu-product-card {
    width: 200px;
    background-color: #fff0fb;
    border: 1px solid #a16892;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-family: sans-serif;
  }

  .gyu-product-card:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  .gyu-product-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #a16892;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

  .gyu-product-title {
    font-size: 14px;
    color: #a16892;
    margin: 10px 0;
  }

  .gyu-product-price {
    font-size: 16px;
    font-weight: 600;
    color: #6d3e6e;
    margin: 0;
  }
{% endstyle %}

<div class="gyu-product-card">
  <img
    src="
      {% if gyu_product_image %}
          {{ gyu_product_image | image_url }}
      {% else %}
          https://demo.glamyouup.net/cdn/shop/files/c7797e24b906fed114ea90762a715a2c_40b1846a-9ad4-43cf-95d2-d118f7216648.jpg?v=1697592175&width=1946
      {% endif %}
    "
    class="gyu-product-image"
  >
  <p class="gyu-product-title">
    {% if gyu_product_title %}{{ gyu_product_title }}{% else %}Cotten Padded Jacket{% endif %}
  </p>
  <p class="gyu-product-price">
    {% if gyu_product_price -%}
      ${{ gyu_product_price | divided_by: 100 | round: 2 }}
    {% else -%}
      $39.00
    {%- endif %}
  </p>
</div>
