.ai-btn {
  background-color: #A16892;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 0;
  margin-bottom: 10px;
  z-index: 3;
}

.ai-btn:focus {
  outline: 0;
}

.ai-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.ai-btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .ai-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


@media screen and (max-width: 749px) {

  .ai-btn {
    margin-right: 0px;
  }
}

.gyu-btn {
  width: 140px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #A16892;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gyu-btn:hover {
  background-color: #835276;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.gyu-btn:hover:after {
  opacity: .5;
}

.gyu-btn:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.gyu-btn:active:after {
  opacity: 1;
}



.loader-progress-bar-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-progress-bar {
  width: 250px;
  height: 20px;
  overflow: hidden;
  background-color: lightgray;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border: 2px solid white;
}

.loader-progress {
  height: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #A16892;
}

.gyu-image-circle {
	width: 40;
	height: 40px;
	border-radius: 50%;
	border-top: 2px dotted #C394B8;
	border-right: 2px dotted #6D3E6E;
	border-left: 2px dotted #C394B8;
	border-bottom: 2px dotted #6D3E6E;
	padding: 3px;
	animation: spin 7s infinite linear;
}
.gyu-image-circle img {
	animation: spin 7s infinite reverse linear;
	width: 100%;
	border-radius: 50%;
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}